body{
  background-color: #FFA559 !important;
}

.grid{
  display : grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 70px;
  padding: 1%;
}

.card{
  width: 250px; 
  height: 170px;
  min-width: 250px;
  min-height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img{
  width : 250px;
  height : 130px;
  min-height: 130px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.name-and-openbutton{
  display: flex;
  align-items: center;
}

.name-and-openbutton h2
{
  margin-right : 10px;
  font-size: x-large;
}

.open-modal-button {
  background-color: #F76902;
  color : white;
  border-radius: 8px;
}

.review-button {
  background-color: #F76902;
  color : white;
  border-radius: 8px;
  border : none;
  height : 39px;
}

.submit-button{
  background-color: #F76902;
  color : white;
  border-radius: 8px;
  border : none;
  height : 39px;
}

.title {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
  color : #454545;
  text-align: center;
  font-weight: bold;
}

.time-review{
  display: flex;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}